

/* Navbar CSS */
.navbar {
    background: black;
}

.navbar-avatar {
    height: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

/* Table CSS */
table {
	width: 600px;
}

th, td {
	padding: 7px 10px 10px 10px;
}

th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 90%;
	border-bottom: 2px solid #111111;
	border-top: 1px solid #999;
	text-align: left;
}

td {
	text-align: left;
}

tr:hover{
	background-color: #3bcacc;
	opacity: 100%;
}

/* Large Button CSS */
.btn{
	color: black;s
	background-color: white;
	border-color: black;
	border-radius: 12px;
	transition-duration: 0.6s
}

.btn:hover{
	background-color: #3bcacc;
	color:black;
}

/* Other */
.card-user {
    max-width: 80px;
}

a:link {
	color: black;
	transition-duration: 0.4s
}

a:visited {
	color: grey;
}

a:hover {
	color: #246d83;
}







